@media screen and (max-width: 480px)
  .events
    h2
      font-size: 2.18rem

    .all_events
      .mu_event
        width: 230px
        height: 230px
        padding: 8px
        h3
          margin: 8px 2px
          font-size: 1.25rem
        p
          font-size: 1.06rem
          line-height: 18px
        