.greeting 
  height: 600px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  h2
    display: inline-block
    font-family: PalatinoRegular
    color: black
    margin-bottom: 30px
  .obout_us
    width: 70%
    p
      margin: 20px 0
      text-align: center
      line-height: 32px
      font-family: PalatinoRegular
      font-size: 22px
      color: black
    p + hr
      margin-bottom: 30px
  