@media screen and (max-width: 620px)
  .greeting 
    h2
      font-size: 2.187rem
    .obout_us
      width: 90%

@media screen and (max-width: 530px)
  .greeting 
    h2
      font-size: 1.88rem
    .obout_us
      width: 95%

@media screen and (max-width: 530px)
  .greeting 
    h2
      font-size: 1.56rem
    .obout_us
      width: 95%
      p
        line-height: 22px
        font-size: 1.25rem

