$container-width: 940px
$h1: 85px
$h2: 40px
$h3: 27px
$h4: 20px
$main-text-size: 0.75rem
$main-text-color: #69747c
$gray: #e2e5e8
$social-gray: #d4dce5
$light-gray: #d1dae3
$light-blue: #c6defa
$blue: #6b9ad0
