header 
  width: 100%
  height: 8vh
  position: relative
  .header_wrapper
    position: fixed
    z-index: 30
    width: 100%
    height: 8vh
    background: white
    border-bottom: 1px solid 	#D3D3D3
    display: flex
    justify-content: center
    .true_life
      position: absolute
      width: 100%
      height: 100%
      div
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        a
          font-family: PalatinoRegular
          color: black
          font-size: 25px

    .menu_burger_icon
        display: none
        position: absolute
        right: 15px
        top: 2vh
        height: 100%
        z-index: 50
        .fa-bars
          color: grey
          font-size: 23px
        .fa-bars:hover
          color: black

    nav
      width: 100%
      .block_nav
        height: 8vh
        .nav_wrapper 
          width: 100%
          height: 100%
          display: flex
          align-items: center
          justify-content: space-between
          .social_icons
            display: flex
            justify-content: flex-start
            align-items: center 
            width: 446px
            ul
              margin: 0 10px
              display: flex
              flex-direction: row
              a
                padding: 0 5px
                font-size: 20px
              a .fa:hover
                color: #484848

          .header_link
            display: flex
            justify-content: space-between
            width: 100%
            margin: 0 10px
            a
              text-align: right
              width: 156px
              font-family: PalatinoRegular
              color: #383838
              font-size: 18px
            a:hover
              color: #909090

          .search
            padding-right: 12px
            form
              margin: 0 auto
              position: relative
              width: 250px
              height: 42px
              input
                height: 42px
                width: 0
                padding: 0 42px 0 15px
                border: none
                border-bottom: 2px solid transparent
                outline: none
                background: transparent
                transition: .4s cubic-bezier(0, 0.8, 0, 1)
                position: absolute
                top: 0
                right: 0
                z-index: 2
                font-size: 18px
                cursor: pointer
              input:focus 
                width: 250px
                z-index: 1
                border: 1px solid #888888
              button 
                background: #888888
                border: none
                height: 42px
                width: 42px
                position: absolute
                top: 0
                right: 0
              button:before 
                content: "\f002"
                font-family: FontAwesome
                font-size: 16px
                color: white  

.fa-facebook-official
  color: #003366
.fa-pinterest-p
  color: #cc0000
.fa-youtube
  color: #cc2900
.fa-odnoklassniki
  color: #ff9900
.fa-vk
  color: #006699
